// =============================================================================
// Sass and Compass mixins
// =============================================================================

// Compass box fix
// * {
//   @include box-sizing(border-box);
// }

// Typography
$sans-serif: Helvetica, Arial, sans-serif;
$topnavsize: 0.8em;


// Colours
$bgrd: #fff;
$topnav-txt: #ff0066;
$subnav-bgrd: #000000;

   